extend layout
block content
  .container
    .content
      ul.thumbnails
        - for (var i = 0; i < articles.length; i++)
          li
            .article
              a(href=articles[i].filename)
                h2.article-title #{articles[i].name}
              .article-excerpt 
                p!=articles[i].excerpt
              .article-info
                p(title=articles[i].date.format('LLLL')) #{articles[i].date.fromNow()}　Tags: #{articles[i].tags.join(' ')} 
    include widget