extend layout
block content
  .container
    .row
      .col-md-9
        ul.thumbnails
          span.condensed(id="condensed")
            i(class="fa fa-list-ul" title="Condensed")
          - for (var i = 0; i < articles.length; i++)
            li.thumbnails-li
              .thumbnails-article
                a(href='/' + articles[i].filename)
                  span(class="thumbnails-article-title") #{articles[i].name}
                .article-excerpt 
                  p!=articles[i].excerpt
                .article-info
                  p(title=articles[i].date.format('LLLL')) #{articles[i].date.fromNow()}　Tags: #{articles[i].tags.join(' ')}
        #loading.loading(style="display: none;") Wait a moment... it's loading!
        #nomoreresults.loading(style="display: none;") Sorry no more results for your!
        input(type="hidden" id="contentType" name="contentType" value=contentType)
        input(type="hidden" id="contentName" name="contentName" value=contentName)
      .col-md-3    
        include widget